*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a P{
    text-decoration: none;
}
ol,
ul,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #000;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
}
._container {
    max-width: 1046px;

}
#header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: aquamarine;
}
#content {
    margin-top: 16px;
    width: 100%;
}
#footer {
    background-color: rgb(170, 170, 170);
}